{% extends "base.html" %} {% block title %} blog {% endblock %} 
{% block head%}

{{ super() }}
<style>
.container {
	display: flex;
	gap: 10px;
}
.container ul li {
	list-style-type:none;
	margin-top: 10px;
	text-align: center;
}
.container ul li a {
	color:white;
	text-decoration: none;
	font-size: 30px;
}

.container ul li a:hover {
	font-size: 32px;
}

@media screen and (min-width: 390px) and (max-width: 767px) {
	.container ul li a {
		font-size: 26px;
	}

</style>
{% endblock %}	
{% block content %}
<div class="container">
<ul>
    {% for post in objs %}
    <li>
			<a href="/blog/{{ post.slug }}">{{ post.title }} | <i>{{ post.date }}</i></a> 
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}
